script.
    import Header from "/header/header";
    import Footer from "/footer/footer";
    
    console.log("Hello from pug template");
    
    const num = 1, str = 2;
    console.log(num + str);

Header(propTest="this is a property")

main(role="content")
    h1 WELCOME

Footer